:root {
  --cinza: #A3A3A3;
  --preto: #464646;
  --laranja: #FFB050;
  --branco: #FFFFFF;
  --off-white: #ECECEC;
  --azul: #4894FF;
}


* {
box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  width: 360px;
}

/*HEADER*/

.status-celular {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
}

.celular-icones img {
  padding-left: 16px;
}

.cabecalho {
  display: flex;
  align-items: center;
}

.profile-imagem {
  width: 57px;
  border-radius: 50%;
  margin: 16px;
}

.cabecalho h1 {
  color: var(--preto);
  font-size: 22px;
  font-weight: 700;
  line-height: 44px;
}

.cabecalho span {
  font-size: 14px;
  color: var(--cinza);
  line-height: 22px;
}

/*MAIN*/

main {
  color: var(--preto);
  margin-bottom: 50px;
}

.dia {
  width: 328px;
  margin: 0 auto;
}

.dia h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 8px 0;
  line-height: 25px;
}

.paciente {
  padding: 16px;
}

.paciente-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.paciente-info {
  display: flex;
}

.paciente-imagem {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 16px;
}

.paciente h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.tipo-consulta {
  display: flex;
  color: var(--cinza);
  font-size: 12px;
  line-height: 19px;
}

.tipo-consulta img {
  margin-right: 8px;
}

.horario {
  font-size: 12px;
  font-weight: 500;
}

/*BOTÕES*/

.opcao-consulta {
  display: flex;
  justify-content: space-between;
}

.videochamada {
  border: none;
  border-radius: 8px;
  background: var(--laranja);
  width: 47%;
  height: 48px;
  color: var(--branco);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}

.ligacao {
  border: solid 1px var(--off-white);
  border-radius: 8px;
  background: var(--branco);
  width: 47%;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}

.endereco {
  border: none;
  border-radius: 8px;
  background: var(--azul);
  color: var(--branco);
  width: 100%;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}

/*RODAPÉ*/

.rodape {
  position: fixed;
  bottom: 0;
  background-color: var(--branco);  
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 8px;
  border-radius: 12px 12px 0 0;
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.3);
  width: 360px;
  z-index: 4;
}

.menu-rodape button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu-rodape {
  width: 60px;
  text-align: center;
}

.icone-rodape {
  margin: 5px;
}

.rodope-descricao {
  font-size: 12px;
}

.consultas {
  color: var(--azul);
}

/*MENU ADICIONAR*/
.menu-flutuante {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 50px;
  z-index: 5;
}
.botao-flutuante {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.botao-flutuante button {
  border: none;
  background: transparent;
}

.botao-flutuante img {
  cursor: pointer;
}

.botao-componentes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.botao-descricao {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  background-color: var(--branco);
  border-radius: 2323px;
  border: solid 1px var(--off-white);
  padding: 0 8px;
}

.filtro {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    width: 360px;
    height: 100%;
    display: block;
}